.nav a {
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 58px;
    background-color: pink;
    text-align: center;
    line-height: 48px;
    color: white;
}

.nav .bg1 {
    background: url(b1.png) no-repeat;
}

.nav .bg1:hover {
    background-image: url(b11.png);
}

.nav .bg2 {
    background: url(b2.png) no-repeat;
}

.nav .nav.bg2:hover {
    background-image: url(b22.png);
}

.nav .bg3 {
    background: url(b3.png) no-repeat;
}

.nav .bg3:hover {
    background-image: url(b33.png);
}

.nav .bg4 {
    background: url(b4.png) no-repeat;
}

.nav .bg4:hover {
    background-image: url(b11.png);
}

.nav .bg5 {
    background: url(b5.png) no-repeat;
}

.nav .bg5:hover {
    background-image: url(b22.png);
}